@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Add your own styles here */
@layer components {
    .bg {
        background: linear-gradient(171.01deg, #404EED 6.98%, #1D236D 156.3%);
    }

    .bg1 {
        background: linear-gradient(90.32deg, #404EED 0%, #1D236D 100%);
    }

    .circle {

        width: 16px;
        height: 16px;
        left: 734px;
        top: 896px;
        border-radius: 50%;
        background: #404EED;
    }
}